.close {
    position: absolute;
    display: none;
    right: 10px;
    top: -10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: gray;
}
.close:before,
.close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: " ";
    border-radius: 1px;
    height: 70%;
    width: 4px;
    background-color: beige;
}
.close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
